# Xcode user state
*.xcuserstate
*.xcuserdatad/

# Build artifacts
build/
DerivedData/

# OS files
.DS_Store
*.xcuserstate
Marque.xcodeproj/project.xcworkspace/xcuserdata/tommychiu.xcuserdatad/UserInterfaceState.xcuserstate

# Firebase emulator logs
firestore-debug.log
*-debug.log
